[submodule "scripts"]
	path = scripts
	url = git@github.com:attilasomogyi/scripts.git
	branch = main
[submodule "styles"]
	path = styles
	url = git@github.com:attilasomogyi/styles.git
	branch = main
[submodule ".cspell"]
	path = .cspell
	url = git@github.com:attilasomogyi/.cspell.git
	branch = main
[submodule "tests/static"]
	path = tests/static
	url = git@github.com:attilasomogyi/static.git
	branch = main
[submodule "docs/source/_templates"]
	path = docs/source/_templates
	url = git@github.com:attilasomogyi/_templates.git
	branch = main
[submodule "docs/templates"]
	path = docs/templates
	url = git@github.com:attilasomogyi/templates.git
